## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd

In [4]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
counts = data.sex.value_counts()
print(f'Male: {counts.Male} Female: {counts.Female}')

Male: 21790 Female: 10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [5]:
data[data.sex == 'Male'].age.mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
count_country = data['native-country'].value_counts()
count_country['United-States'] / len(data)

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
high_salary = data[data.salary == '>50K']
low_salary = data[data.salary == '<=50K']
len(high_salary), len(low_salary)

(7841, 24720)

In [7]:
# Среднее значение
high_salary_mean_age = high_salary.age.mean()
low_salary_mean_age = low_salary.age.mean()
high_salary_mean_age, low_salary_mean_age

(44.24984058155847, 36.78373786407767)

In [8]:
# Среднеквадратичное отклонение
high_salary_age_std = high_salary.age.std()
low_salary_age_std = low_salary.age.std()
high_salary_age_std, low_salary_age_std

(10.51902771985177, 14.020088490824813)

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
education_values = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_salary.education.isin(education_values).value_counts()

# Не правда, около 40% людей с зарплатой >50K не имеют высшего образования

education
True     4535
False    3306
Name: count, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [10]:
groupby_data = data.groupby(['race', 'sex']).age
groupby_data.describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [11]:
groupby_data.get_group(('Asian-Pac-Islander', 'Male')).max()

90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [12]:
marital_statuses = data['marital-status'].unique()
marital_statuses

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [13]:
married_statuses = [i for i in marital_statuses if i.startswith('Married')]
married_statuses

['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

In [14]:
men = data[data.sex == 'Male']
married = men[men['marital-status'].isin(married_statuses)]
not_married = men[~men['marital-status'].isin(married_statuses)]

married.salary.value_counts()['>50K'] / len(married), \
not_married.salary.value_counts()['>50K'] / len(not_married)

# 44 процента женатых мужчин зарабатывают >50K
# 8 процентов неженатых мужчин зарабатывают >50K

(0.4405139945351156, 0.08449509031397745)

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [15]:
# max number of hours person works in a week
max_hours = data['hours-per-week'].max()
max_hours

99

In [16]:
hardworking_people = data[data['hours-per-week'] == max_hours]
# number of people that work that many hours
len(hardworking_people)

85

In [17]:
# precent of hardworking people with high salary
len(hardworking_people[hardworking_people.salary == '>50K']) / len(hardworking_people)

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [18]:
data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [19]:
data['AgeGroup'] = data.age.map(lambda n: 'young' if n < 35 else ('adult' if n < 70 else 'retiree'))
data[['age', 'AgeGroup']]

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [20]:
salary_by_AgeGroup = data.groupby(['AgeGroup', 'salary']).salary
max_group = ''
max_ratio = 0
for i in ['adult', 'retiree', 'young']:
    high = salary_by_AgeGroup.get_group((i, '>50K')).count()
    low = salary_by_AgeGroup.get_group((i, '<=50K')).count()
    ratio = high/(high+low)
    print(f'{i} >50K: {high} ({ratio*100:.2f}% from all {i})')
    if max_ratio < ratio:
        max_ratio = ratio
        max_group = i
print(f'Most successful age group: {max_group}')

adult >50K: 6240 (34.89% from all adult)
retiree >50K: 113 (17.97% from all retiree)
young >50K: 1488 (10.59% from all young)
Most successful age group: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [21]:
accupation_grouping = data.groupby('occupation')
accupation_grouping['age'].count()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: age, dtype: int64

In [22]:
def filter_func(df):
    return df.age.mean() <= 40 and (df['hours-per-week'] > 5).all()

In [23]:
accupation_grouping.filter(filter_func).occupation.unique()

array(['Armed-Forces'], dtype=object)